In [1]:
import pandas as pd

In [10]:
employees = pd.read_csv("employees.csv")
employees.index

RangeIndex(start=0, stop=1000, step=1)

In [11]:
above_100k = employees.query("Salary > 100000")
above_100k

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal
9,Frances,Female,8/8/2002,6:51 AM,139852,7.524,True,Business Development
...,...,...,...,...,...,...,...,...
990,Robin,Female,7/24/1987,1:35 PM,100765,10.982,True,Client Services
991,Rose,Female,8/25/2002,5:12 AM,134505,11.051,True,Marketing
992,Anthony,Male,10/16/2011,8:35 AM,112769,11.625,True,Finance
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [14]:
females = employees.query("Gender == 'Female'")
males = employees.query("Gender == 'Male'")

len(females), len(males)

(431, 424)